@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
/* header section */
.header-section {
  height: auto;
  width: 100%;
}
.banner {
border-bottom:-12px;
text-align: center;
}
.navigation {
  width: 100%;
  height: auto;
  background-attachment: fixed;
}
.nav-div-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-end;
}
.logo {
  font-family: 'Righteous', cursive;
  font-size: 2.5rem;
  color: #141313;
}

.nav-links {
  margin-top: 17px;
  width: auto;
  height: 14px;
  /* border: 2px solid blue; */
}

/* navigation links */

.nav-links li {
  display: inline-block;
}

.nav-links li a {
  margin: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: #0e0e0f;
  font-family: cursive;
  font-weight: 700;
  font-size: 1.3rem;
}
.nav-links li a:hover{
  border-style: none;
  border-radius:5px;
  box-sizing:border-box;
  box-shadow: 5px 5px 5px 5px #e89b9b;
}
section{
  background-color:#f3eded;
}
/* section heading style */
.section-headings{
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family:"poppins";
  color: #ff0000;
  width: 100%;
  text-align:center;
  text-decoration: underline 4px dotted #676776;
}
/*  section heading style on hover */
.section-headings:hover{
 color:#03ebf3;
 background:radial-gradient(#bc0a0a,#0a0ac719);
 /* opacity: 0.8; */
}
/* over-view */
.over-view{
  height: auto;
  width: 100%;
  margin-top: 15px;
  /* background-color: blue; */
}
/* overview-div */
.overview-div{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* over-view-image  */
.over-view-image{
  height:450px;
  width:100%;
  margin:14px 0px 14px 0px;
  background-image: url("./overview.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* discription */

.discription{
  height:auto;
  width:150vh;
  text-align:justify;
}

/* features */
.features{
  height: auto;
  width:100%;
  margin-top: 15px;
}
.feature-div{
 
  height: auto;
  width: 100%;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:space-evenly;
  /* margin:14px 0px 14px 0px; */
  align-items: center;
}
.features-list{
  border-bottom:2px solid #d6d1d1;
  margin:5px;
  height:auto;
  width:auto;
 text-align:center;
}
/* CONTACT SECTION */
.contact{
  margin-top: 15px;
  height: auto;
  width: 100%;
  /* background-color: yellow; */
}
.contact-div{
display:flex;
flex-direction:column;
justify-content: center;
align-items: center;
}
/* send button */
[type="button"]{
  border-style: none;
  margin:10px 0px 10px;
  color:#010101;
  font-weight:700;
  background-color:#948f8f;
  font-size: 1.2rem;
  padding:5px;
}

/* form-div */
.form-div{
  text-transform:capitalize;
  font-weight:700;
  font-size:1.2rem;
  text-align: center;
}

.input-style{   
  /* form-div input */
  font-size: 1.3rem;
  background-color:#f6f4f4;
  padding:4px;
  border-style: none;
  border-bottom: 2px solid grey;
  opacity:0.4;
}

/* FEEDBACK SECTION */
.feedback{
  margin-top: 15px;
  height:auto;
  width:100%;
}
.feedback-div{
  text-transform:capitalize;
  font-weight:700;
  font-size:1.2rem;
  text-align: center;
}

/* footer */
footer{
  height:auto;
  width: 100%;
  background-color:#bcbcb7;
}
.address a{
  text-decoration: none;
  color:black;
}
.social-icon-div{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap-reverse;
  justify-content:center;
  align-items:center;
}
/* footer-social-icons */
.footer-social-icons{
  border-style: none;
  border-radius: 50%;
  margin-right: 15px;
}
/* footer-social-icons on hover */
.footer-social-icons:hover{
  box-shadow: 5px -5px 5px 5px #dad4d4;
  box-sizing: content-box;
}
.copyright-position{
  display: flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}